@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

.btn-blue:hover {
    background: #4840BB;
}


.barno {}





.zebo {
    
}